<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyNumberCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <MyNumberCard.Properties.Settings>
            <setting name="NumberingMasterPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConfigFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="IssueLogPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="PortNmae" serializeAs="String">
                <value/>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>メイリオ, 12pt</value>
            </setting>
        </MyNumberCard.Properties.Settings>
    </userSettings>
</configuration>
